<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Создание главы</title>
    <style>
       .topnav {
  overflow: hidden;
  background-color: #333;
}

.ap {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
}
    </style>
</head>
<body>
<div class="topnav">
    <form action="/" method="get" class="ap">
        <input type="submit" value="Books">
    </form>
    <form action="/user" method="get" class="ap">
        <input type="submit" value="User">
    </form>
    <form action="/login" method="get" style="float: right;">
        <input type="submit" value="Sign Out">
    </form>
</div>
<section class="container">
    <div class="mx-auto border my-5 py-3 px-3 form">
        <div>
            <label>bookName: {{bookId}}</label>
        </div>
        <form action="/addChapter/{{bookId}}" method="post">
            <div class="mb-3">
                <label for="number" class="form-label">Number</label>
                <input type="number" class="form-control" id="number" name="number" placeholder="number">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="name">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Text</label>
                <textarea wrap="physical" class="form-control" id="text" name="text" rows="10"></textarea>
            </div>

            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input class="btn btn-success" type="submit" value="Добавить"/>
        </form>
    </div>
</section>
</body>
</html>