<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>Создание книги</title>
    <style>
                .topnav {
  overflow: hidden;
  background-color: #333;
}

.ap {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
}
    </style>
</head>
<body>
<div class="topnav">
    <form action="/" method="get" class="ap">
        <input type="submit" value="Books">
    </form>
    <form action="/user" method="get" class="ap">
        <input type="submit" value="User">
    </form>
    <form action="/login" method="get" style="float: right;">
        <input type="submit" value="Sign Out">
    </form>
</div>
<section class="container">
    <div class="mx-auto border my-5 py-3 px-3 form">
        <form enctype="multipart/form-data" action="/create/{{id}}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="name">
            </div>
            <div class="file-upload-wrapper" >
                <input type="file" id="input-file-max-fs" class="file-upload" data-max-file-size="2M" name="image" style="width:600px;
  height:150px;
  padding:15px;
  border-style:dashed;
  border-color:#2c003a;
  border-width:2px;
  background-color:#fdfbfb;
  color:#462a51;"/>
            </div>
            <div class="form-group">
                <label for="fandom">Fandom</label>
                <input list="fandoms" class="form-control" id="fandom" name="fandom" style="display: inline-block;">
            </div>
            <div class="form-group">
                <label for="tag">Tags</label>
                <input list="tags" class="form-control" id="tag"  name="tag">
            </div>
            <datalist id="tags">
                {{#tags}}
                <option value="{{name}}">
                {{/tags}}
            </datalist>
            <datalist id="fandoms">
                {{#fandoms}}
                <option value="{{name}}">
                {{/fandoms}}
            </datalist>
            <div class="mb-3">
                <label for="preview" class="form-label">Text</label>
                <textarea class="form-control" id="preview" name="preview" rows="5"></textarea>
            </div>

            <!--&lt;!&ndash;<div class="form-group">
                <label for="name">Название</label>
                <input class="form-control" id="name" type="text" name="name">
            </div>
            <div class="file-upload-wrapper" >
                <input type="file" id="input-file-max-fs" class="file-upload" data-max-file-size="2M" name="image" style="width:600px;
  height:150px;
  padding:15px;
  border-style:dashed;
  border-color:#2c003a;
  border-width:2px;
  background-color:#fdfbfb;
  color:#462a51;"/>
            </div>
            <div class="form-group">
                <label for="fandom">Fandom</label>
                <input list="fandoms" class="form-control" id="fandom" name="fandom" style="display: inline-block;">
            </div>
            <div class="form-group">
                <label for="tag">Tags</label>
                <input list="tags" class="form-control" id="tag"  name="tag">
            </div>
            <datalist id="tags">
                {{#tags}}
                    <option value="{{name}}">
                {{/tags}}
            </datalist>
            <datalist id="fandoms">
                {{#fandoms}}
                <option value="{{name}}">
                {{/fandoms}}
            </datalist>
            <div class="form-group">
                <label for="preview">Preview:</label>
                <textarea class="form-control" rows="8" id="preview" name="preview"></textarea>
            </div>&ndash;&gt;-->

            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input class="button" type="submit" value="Создать"/>
        </form>
    </div>
</section>
</body>
</html>